body {
    
}


.card-header,
.card-body,
.card-footer {
    background-color: transparent;
}

#pokemon-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 24px;
}

.pokemon-card {
    width: 240px;
    height: 350px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    /*filter: brightness(1.8);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    */
}

.pokeIdName {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: large;

}

.pokemon-card img {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    /*filter: brightness(75%); */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.pokemon-card img:hover {
    filter: brightness(1.16);
}

.card-footer {
    text-align: center;
    margin-top: 32px;
    color: white;

}

.card-footer p {
    padding: 4px 8px;
    gap: 4px;
    margin-right: 5px;
}

.type {
    border-radius: 4px;
    padding: 1px 8px 4px 8px;

}

.prevPokemn, .nextPokemn {
    border: none;
    background: transparent;
}


 /*  
*/